@model LoginViewModel;


@{
    Layout = "_LayoutAnonymous";
}

<section class="flex items-center justify-center pt-10">
    <div class="bg-white p-8 rounded-md shadow-md w-[400px]">
        <div class="text-center mb-6">
            <h1 class="text-2xl font-bold">Login</h1>
        </div>

        <form method="post" asp-controller="Auth" asp-action="ConfirmSignUp">
            <div class="mb-4">
                <label asp-for="NombreUsuario" class="block text-md font-bold mb-1">Usuario:</label>
                <input asp-for="NombreUsuario" type="text" name="NombreUsuario" placeholder="Ingresa tu usuario"
                       class="w-full h-12 border-2 border-gray-300 rounded-md px-4 focus:outline-none focus:border-blue-500 placeholder:text-gray-400" />
                <span asp-validation-for="NombreUsuario" class="text-red-500 text-sm"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Contraseña" class="block text-md font-bold mb-1">Contraseña:</label>
                <input asp-for="Contraseña" type="password" name="Contraseña" placeholder="Ingresa tu contraseña"
                       class="w-full h-12 border-2 border-gray-300 rounded-md px-4 focus:outline-none focus:border-blue-500 placeholder:text-gray-400" />
                <span asp-validation-for="Contraseña" class="text-red-500 text-sm"></span>
            </div>

            <button type="submit"
                    class="w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 transition duration-200">
                Iniciar Sesión
            </button>
        </form>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="mb-4 mt-2 text-red-600 bg-red-100 border border-red-300 rounded-md p-3 text-center">
                @TempData["ErrorMessage"]
            </div>
        }

    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}